# Database configuration
DATABASE_URL=mysql://root:123456@db:3306/wewe-rss?schema=public&connect_timeout=30&pool_timeout=30&socket_timeout=30
DATABASE_TYPE=mysql

# Authentication
AUTH_CODE=123567

# Feed configuration
FEED_MODE=fulltext
SERVER_ORIGIN_URL=http://localhost:4000

# Rate limiting
MAX_REQUEST_PER_MINUTE=60

# Cron settings
CRON_EXPRESSION=35 5,17 * * *
# Set to true to disable cron updates
DISABLE_CRON=false

# Update delay
UPDATE_DELAY_TIME=60

# HTML processing
ENABLE_CLEAN_HTML=false

# Platform URL
PLATFORM_URL=https://weread.111965.xyz
